extends ./layout.pug
block contenido
	h1 Pagina de Login
	form(action="/login" , method="POST")
		div(class="form-group")
			label(for="e-mail") Email
			input(type="text", id="ema", name="email",class="form-control")
		div(class="form-group")
			label(for="password") Password
			input(type="password", id="pas", name="password",class="form-control")		
		div(class="form-group")
			input(type="submit", value="Loguearse",class="btn btn-info")	
